<link rel="import" href="../../polymer-imports.html">


<dom-module id="car-card">
	<template>
		<paper-card heading="Card Title">
      <div class="card-content">
                <img src="{{car.img}}" style="height:200px;width:400px;" /><br/>
                <span>{{car.manufacturer}}</span><br/>
                <span>{{car.model}}</span>
              
        </div>
      <div class="card-actions">
        <paper-button>Edit</paper-button>
        <paper-button>Delete</paper-button>
      </div>
    </paper-card>

	</template>



<script>
	
Polymer({

      is: 'car-card',

      properties: {
        car: {
          type: Object,
          value: {},
        },
      },

    });

</script>

</dom-module>