<link rel="import" href="../../polymer-imports.html">

<link rel="import" href="./car-table.html">
<link rel="import" href="./car-cards.html">
<link rel="import" href="../car-service.html">

<dom-module id="car-list">
	<template>

	<style>
		paper-tabs {
			background-color: #ee6e73;
			color: white;
		}
	</style>
		<car-service id="carService" cars="{{cars}}"></car-service>	

<div style="margin:20px;">

		<paper-tabs selected='{{route.path}}' attr-for-selected='key'>
		  <paper-tab key='/cards'>Cards</paper-tab>
		  <paper-tab key='/table'>Table</paper-tab>		  
		</paper-tabs>

		<neon-animated-pages selected='{{route.path}}'
		                     attr-for-selected='key'
		                     entry-animation='slide-from-left-animation'
		                     exit-animation='slide-right-animation'>		  
		  
		  <neon-animatable key='/cards'>
		  	<car-cards cars="{{cars}}"></car-cards>
		  </neon-animatable>
		  <neon-animatable key='/table'>
		  	<car-table cars="{{cars}}"></car-table>
		  </neon-animatable>		  

		</neon-animated-pages>
</div>

	</template>



<script>
	
Polymer({

      is: 'car-list',

      properties: {
        cars: {
          type: Array,
          value: [],
        },
        route: {
        	notify: true
        },
        visible: {    
          type: Boolean,
          value: false,
          observer: '_visibleChanged'      
        },        
      },
      _visibleChanged : function(visible){      	
      	if (!visible) return;

      	if (this.route.path == "" || this.route.path == "/") {      		
	      		this.set("route.path", "/cards");
	      }

	      this.$.carService.getCars();
      },
      filterOnName : function(){
        return true;
      }

    });

</script>

</dom-module>